<!-- auth/login.ejs -->

<%- include("../partials/header.ejs") %>

<section class="w-full md:h-[calc(100vh-40px)] max-w-[1320px] min-h-screen mx-auto">
  <div class="py-10">
    <div class="texts md:ml-24 ml-4 py-10 md:py-0">
      <h2 class="md:text-xl text-sm text-blue-500 ml-4 font-IBM contents">
        welcome back
      </h2>
      <br />
      <h3 class="text-xl text-yellow-500 px-40 font-IBM pb-10 md:pb-0 contents">
        Login
      </h3>
    </div>
    <form
      action="/api/v1/user/login"
      method="post"
      class="md:w-[39%] w-[90%] border-4 border-dashed border-blue-500 py-10 rounded-2xl text-md flex flex-col gap-y-6 mx-auto"
      id="loginForm"
    >
      <!--  Email -->
      <div
        class="flex items-center border mx-auto rounded-lg bg-white text-gray-700 md:w-[80%] w-[90%] shadow-sm focus-within:ring-2 focus-within:ring-blue-500"
      >
        <input
          type="email"
          name="email"
          id="email"
          placeholder="enter email"
          class="flex-1 py-2 px-4 rounded-l-lg focus:outline-none text-sm"
          required
        />
        <img
          src="/icons/email.svg"
          alt="User Icon"
          class="w-5 h-5 mx-3 text-gray-500"
        />
      </div>

      <!-- password -->
      <div
        class="flex items-center border rounded-lg bg-white text-gray-700 md:w-[80%] w-[90%] mx-auto shadow-sm focus-within:ring-2 focus-within:ring-blue-500"
      >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="enter password"
          class="flex-1 py-2 px-4 rounded-l-lg focus:outline-none text-sm"
          required
        />
        <img
          src="/icons/password.svg"
          onclick="showPassword()"
          alt="User Icon"
          class="w-5 h-5 mx-3 text-gray-500 cursor-pointer"
          id="showpass"
        />
      </div>

      <a
        href="/forgotPassword"
        class="text-sm underline font-IBM text-blue-600 w-[90%] px-1 py-2 text-end"
        >forgot password</a
      >

      <button
        type="submit"
        id="loginBtn"
        class="bg-blue-500 text-white py-2 px-4 mt-1 w-24 rounded-md shadow-md hidden hover:bg-orange-500 transition-all ml-12 duration-500 ease-in-out"
        style="display: block"
      >
        <div class="flex gap-2 items-center">
          <span class="font-IBM">login</span>
          <img
            src="/icons/login.svg"
            alt="next"
            class="w-4 h-4 bg-slate-50 rounded-3xl"
          />
        </div>
      </button>
      <p class="text-sm mx-auto">
        dont have an account
        <a href="/register" class="text-blue-500 underline mx-2 font-IBM"
          >register</a
        >
      </p>

      <!-- Error Section -->
      <div class="text-center w-[70%] mx-auto">
        <% if (error) { %>
        <p class="text-red-500 border border-slate-200 px-3 py-2 rounded-md">
          <%= error %>
        </p>
        <% } %>
      </div>
    </form>
  </div>
</section>
<%- include("../partials/footer.ejs")%>
