<!-- auth/register.ejs -->

<%- include("../partials/header.ejs") %>

<section
  class="w-full h-[calc(100vh-40px)] max-w-[1320px] min-h-screen mx-auto"
>
  <div class="py-10">
    <div class="texts md:ml-24 ml-4 py-10 md:py-1">
      <h2 class="md:text-xl text-sm text-blue-500 ml-4 font-IBM contents">
        welcome to wolf share
      </h2>
      <br />
      <h3 class="text-xl text-yellow-500 px-40 font-IBM pb-10 md:pb-0 contents">
        register
      </h3>
    </div>
    <form
      action="/api/v1/user/register"
      method="post"
      class="md:w-[39%] w-[90%] border-4 border-dashed border-blue-500 py-10 rounded-2xl text-md flex flex-col gap-y-6 mx-auto"
      id="registerForm"
    >
      <!--  username -->
      <div
        class="flex items-center border mx-auto rounded-lg bg-white text-gray-700 md:w-[80%] w-[90%] shadow-sm focus-within:ring-2 focus-within:ring-blue-500"
      >
        <input
          type="text"
          name="username"
          id="username"
          placeholder="enter username"
          class="flex-1 py-2 px-4 rounded-l-lg focus:outline-none text-sm"
          required
        />
        <img
          src="/icons/user.svg"
          alt="User Icon"
          class="w-5 h-5 mx-3 text-gray-500"
        />
      </div>

      <!--  Email -->
      <div
        class="flex items-center border mx-auto rounded-lg bg-white text-gray-700 md:w-[80%] w-[90%] shadow-sm focus-within:ring-2 focus-within:ring-blue-500"
      >
        <input
          type="email"
          name="email"
          id="email"
          placeholder="enter email"
          class="flex-1 py-2 px-4 rounded-l-lg focus:outline-none text-sm"
          required
        />
        <img
          src="/icons/email.svg"
          alt="User Icon"
          class="w-5 h-5 mx-3 text-gray-500"
        />
      </div>

      <!-- password -->
      <div
        class="flex items-center border rounded-lg bg-white text-gray-700 md:w-[80%] w-[90%] mx-auto shadow-sm focus-within:ring-2 focus-within:ring-blue-500"
      >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="enter password"
          class="flex-1 py-2 px-4 rounded-l-lg focus:outline-none text-sm"
          required
        />
        <img
          src="/icons/password.svg"
          onclick="showPassword()"
          alt="User Icon"
          class="w-5 h-5 mx-3 text-gray-500 cursor-pointer"
          id="showpass"
        />
      </div>

      <button
        type="submit"
        id="registerBtn"
        class="bg-blue-500 text-white py-2 px-4 mt-6 w-28 rounded-md shadow-md hidden hover:bg-orange-500 transition-all ml-12 duration-500 ease-in-out"
        style="display: block"
      >
        <div class="flex gap-2 items-center">
          <span class="font-IBM">register</span>
          <img
            src="/icons/login.svg"
            alt="next"
            class="w-4 h-4 bg-slate-50 rounded-3xl"
          />
        </div>
      </button>
      <p class="text-sm mx-auto">
        already have an account
        <a href="/login" class="text-blue-500 underline mx-2 font-IBM">login</a>
      </p>

      <!-- Error Section -->
      <div class="text-center w-[70%] mx-auto">
        <% if (error) { %>
        <p class="text-red-500 border border-slate-200 px-3 py-2 rounded-md">
          <%= error %>
        </p>
        <% } %>
      </div>
    </form>
  </div>
</section>
<%- include("../partials/footer.ejs")%>
