<%- include("../partials/header.ejs") %>

<section class="w-full md:h-screen h-auto flex justify-center py-10">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur mollitia,
  optio neque qui, eveniet ab vero vitae non, ipsum corrupti aspernatur! Beatae
  itaque aut corrupti veritatis, id ea mollitia sint?
</section>

<%- include("../partials/footer.ejs") %>
