<%- include("../partials/header.ejs") %>

<section class="w-full md:h-auto h-auto flex justify-center py-10">
  <!-- admin dashboard box -->
  <div
    id="admin-dashboard"
    class="w-full md:w-[95%] h-auto mx-2 border border-slate-700 rounded-md px-3 bg-slate-800"
  >
    <h1 class="text-xl text-center md:py-4 py-2 md:my-2 mb-7 px-3">
      Admin Dashboard
    </h1>
    <div id="admin-details" class="py-3 px-4">
      <h2 id="admin-email" class="text-lg text-yellow-500">admin#123</h2>
      <h2 id="admin-username" class="text-sm text-pretty text-indigo-500">
        admin-username#123
      </h2>
    </div>

    <div id="users-details" class="py-4">
      <ul class="md:text-center text-wrap">
        <li
          class="py-3 px-4 border border-slate-400 inline-block rounded-md md:text-base text-xs my-2 mx-2"
        >
          total user <span class="text-purple-500">10</span>
        </li>

        <!-- total downloads -->
        <li
          class="py-3 px-4 border border-slate-400 inline-block rounded-md md:text-base text-xs my-2 mx-2"
        >
          total downloads <span class="text-purple-500">10</span>
        </li>

        <!-- total memory usage -->
        <li
          class="py-3 px-4 border border-slate-400 inline-block rounded-md md:text-base text-xs my-2 mx-2"
        >
          total memory usage <span class="text-purple-500">10 mb</span>
        </li>

        <li
          class="py-3 px-4 border border-slate-400 inline-block rounded-md md:text-base text-xs my-2 mx-2"
        >
          premium users <span class="text-purple-500">10</span>
        </li>
      </ul>
    </div>

    <!-- add notification here -->

    <div id="feedbackNotification"></div>

    <!-- file management like crud -->

    <div id="file-management" class="py-4">
      <div
        id="searchFileAndUserManage"
        class="flex items-center justify-center w-full gap-3"
      >
        <input
          type="text"
          name="searchFile"
          id="searchFile"
          placeholder="search "
          class="px-3 py-3 bg-transparent border border-slate-400 md:w-1/3 w-full rounded-md"
        />
        <button class="border border-slate-400 py-3 px-3 rounded-md" id="searchBtn">
          <img src="/icons/searchIcon.svg" alt="searchIcon" />
        </button>
      </div>

      <!-- output of search like file and user -->

      <div
        id="mainUserAndFileinfo"
        class="w-full h-auto flex flex-wrap md:justify-center gap-3 mt-10"
      >
        <!-- file information -->
        <div
          id="fileDetailsBox"
          class="border border-slate-500 px-3 py-4 inline-block mt-4 rounded-lg text-slate-50"
        >
          <!-- file or user -->
          <ul>
            <li class="text-sm">
              unique id :
              <span class="text-purple-400"
                >954dee5c-b428-4a37-98f7-94a61ef49c78</span
              >
            </li>
            <li class="text-sm">
              original name :
              <span class="text-purple-400">kshitij resume .pdf </span>
            </li>

            <li class="text-sm">
              file name :
              <span class="text-purple-400">2345678765434567.pdf </span>
            </li>

            <li class="text-sm">
              file size :
              <span class="text-purple-400">1gb </span>
            </li>

            <li class="text-sm">
              shared file url :
              <span class="text-blue-400">
                <a
                  href="https://www.dropbox.com/scl/fi/a4uarxelgvpwvoa9e9msh/1732444157034-725164019.png?rlkey=jajzpqei6rfacjgikcfpqfpk2&dl=0"
                  >file link</a
                >
              </span>
            </li>
          </ul>

          <div id="menuBtn" class="w-full pt-3">
            <!-- update button -->
            <button class="w-4">
              <img src="/icons/update.svg" class="" alt="" />
            </button>

            <!-- delete button -->
            <button class="w-4">
              <img src="/icons/delete.svg" alt="" />
            </button>

            <!-- share button -->
            <button class="w-4">
              <img src="/icons/showFileIcon.svg" alt="" />
            </button>
          </div>
        </div>

        <!-- user information -->

        <div
          id="userDetailsBox"
          class="border border-slate-500 px-3 py-4 inline-block mt-4 rounded-lg text-slate-50"
        >
          <!-- file or user -->
          <ul>
            <li class="text-sm">
              username :
              <span class="text-purple-400">admin@31348</span>
            </li>
            <li class="text-sm">
              email :
              <span class="text-purple-400"> parivahanz@123456jh </span>
            </li>

            <li class="text-sm">
              total links :
              <span class="text-purple-400">10 </span>
            </li>

            <li class="text-sm">
              avail links :
              <span class="text-purple-400">10 </span>
            </li>

            <li class="text-sm">
              role :
              <span class="text-purple-400"> user </span>
            </li>
          </ul>

          <div id="menuBtn" class="w-full pt-3">
            <!-- update button -->
            <button class="w-4">
              <img src="/icons/update.svg" class="" alt="" />
            </button>

            <!-- delete button -->
            <button class="w-4">
              <img src="/icons/delete.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../partials/footer.ejs") %>
