<!-- views/partials/footer.ejs -->

<footer class="text-sm md:text-xl  w-full  bg-transparent  border-t-2 border-slate-100  mt-5 ">
    <div class="text-white h-20 w-full flex items-center justify-around ">
        <h2 class="font-IBM md:text-xl text-sm w-full md:w-auto ">copyright &copy; nikhil wankhade</h2>

        <div class="flex gap-4">
            <a href="<%= github_profile_url %>" target="_blank" rel="noopener noreferrer">
                <img src="/icons/github.svg" class="w-6 bg-white rounded" alt="GitHub icon">
            </a>
            <a href="<%= linkedIn_profile_url %>" target="_blank" rel="noopener noreferrer">
                <img src="/icons/linkedin.svg" class="w-6 bg-white rounded" alt="LinkedIn icon">
            </a>

            <a href="<%= twitter_profile_url %>" target="_blank" rel="noopener noreferrer">
                <img src="/icons/twitter.svg" class="w-6 bg-white rounded" alt="LinkedIn icon">
            </a>

        </div>
    </div>
</footer>
<!-- toast notification -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js" integrity="sha512-79j1YQOJuI8mLseq9icSQKT6bLlLtWknKwj1OpJZMdPt2pFBry3vQTt+NZuJw7NSd1pHhZlu0s12Ngqfa371EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- mammoth - script is used for previewing the docx files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.8.0/mammoth.browser.min.js" integrity="sha512-wuWo/cLB9W5BsZeyTYLuiTwr+FDlvjQC7C6atr+To7Jk92XHWI7WsImJZiruw7C9bnc8Zg7N0ncQI2Q/B4PQYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- for pdf -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>


<!-- js files from scripts and helpers folder -->
<script src="/scripts/auth.scripts.js"  ></script>
<script src="/scripts/navigation.scripts.js" ></script>
<script src="/scripts/main.scripts.js" type="module" ></script>
<script src="/scripts/file.scripts.js"  type="module" ></script>
<script src="/helpers/helpers.helpers.js"  type="module" ></script>
<script src="/scripts/account.scripts.js" type="module" ></script>
<script src="/scripts/shareLink.scripts.js" type="module" ></script>
<script src="/scripts/dropboxLive.scripts.js" type="module" ></script>


</body>
</html>
