<%- include("../partials/header.ejs") %>

<section class="w-full h-screen md:h-auto mt-10 md:mt-0 flex justify-center">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, illum
  facere. Excepturi fugit aut ipsum iste, voluptates corrupti. Sed veritatis
  ratione blanditiis repellendus provident maiores molestias voluptatibus quia
  consequuntur veniam.

 
</section>

<%- include("../partials/footer.ejs") %>
