<%- include("../partials/header.ejs") %>

<section class="w-full h-screen md:h-auto mt-10 md:mt-0 flex justify-center">
  <!-- after clicking on send file button - after message -->
  <div
    class="md:w-auto sm:w-auto text-center w-[80%] h-fit py-3 px-3 mx-auto border-2 border-green-900 bg-green-300 text-slate-800 rounded-md md:text-xl text-xs"
    id="after-sendFile-message"
  >
    <small class="">
      please wait.. File will be sent in a few seconds...
    </small>
  </div>
</section>

<%- include("../partials/footer.ejs") %>
